body { background-color: rgb(173, 212, 245);}

p {
    color: #07046d;
}

.morango {
font-style: oblique;
}

.red { 
    width: 35%
}
{
    border-bottom: solid 2px rgb(42, 122, 228)
}

{
       padding: 20px;
}

{
    font-size: 20px;
}
