body { background-color: rgb(188, 219, 244);}

p {
    color: #000000;
}

.morango {
font-style: initial;
}

.red { 
    width: 15%
}
header {
border-bottom: solid 1px white;
padding: 20px;
font-size: 20px;
color: rgb(93, 106, 255);
}
   
section {
background-color: rgb(185, 221, 244);
padding-bottom: 60px;
padding-top: 40px;
display: flex;
justify-content: center;

}

section {
    background: #bfdff1;

}

section {
    display: block;
    unicode-bidi: isolate;
}