<header> 




body { background-color: rgb(198, 225, 247);}

p {
    color: #000000;
}

.morango {
font-style: initial;
}

.red { 
    width: 15%
}
{body}
    border-bottom: solid 2px rgb(42, 122, 228)



       padding: 20px;



    font-size: 20px;
 
